.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #0e1127;
  color: white;
  padding: 50px;

  .container {
    width: 1080px;
    display: flex;
    align-items: center;
    gap: 20px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .text {
        font-size: 40px;
        font-weight: 800;

        span {
          color: #62e2f6;
          text-shadow: 0 8px 50px #62e2f6;
        }
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 0 10px 10px 0;
        height: 40px;
        width: 80%;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            border: none;
            outline: none;
            color: rgb(75, 75, 75);
          }
        }

        button {
          width: 120px;
          height: 40px;
          border: none;
          background-color: #41a6b6;
          color: black;
          font-weight: 600;
          padding: 0 60px;
          cursor: pointer;
          transition: .5s all ease;

          &:hover {
            background-color: #2b6b75;
            color: white;
          }
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          font-size: 12px;
        }

        button {
          color: white;
          background-color: transparent;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }

    .right {
      height: 100%;

      img {
        width: 120%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}